<!doctype html>
<html ng-app>
  <head>
    <script src="angular.min.js"></script>
    <script src="angular-bootstrap-prettify.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <p ng-init=" name='World' ">Hello {{name}}!</p>
    <div ng-controller="Controller">
    	<form nonvalidate class="css-form">
    		Name:
    		 <input type="text" ng-model="user.name" required/><br />
    		Email: <input type="email" ng-model="user.email" required/><br />
    		Gender: <input type="radio" ng-model="user.gender" value="male" />male
    		<input type="radio" ng-model="user.gender" value="female" />female<br />
    		<button ng-click="reset()">Reset</button>
    		<button ng-click="update(user)">Save</button>
    		
    		
    	</form>
    </div>
    
    <style type="text/css">
      .css-form input.ng-invalid.ng-dirty {
        background-color: #FA787E;
      }
    
      .css-form input.ng-valid.ng-dirty {
        background-color: #78FA89;
      }
    </style>
  </body>
</html>